*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;}
body{
    height: 100vh;
    background: rgba(244, 54, 218, 0.835);
    background: radial-gradient(circle, rgba(242, 245, 175, 0.553) 0%, rgb(85, 26, 81) 94%);
}
html{
    font-size: 16px;
}
.wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap:2vmin;
}
.button-option{
    background: rgb(255, 255, 255);
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
}
#restart{
    background: black;
    color: white;
    margin: 1.5em auto 0 auto;
    padding: 1em;
    border-radius: 8px;
    border: none;
    position: relative;
    display: block;
}

.popup{
 
    background: radial-gradient(circle, rgba(180, 29, 29, 0.568) 0%, rgba(0, 187, 255, 0.269) 94%);
   height: 100%;
   width: 100%;
   position: absolute;
   display: flex;
   z-index: 2;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1em;
   font-size: 12vmin;
   
}

#new-game{
    padding: 0.5em;
    background-color: black;
    color: white;
    border-radius: 0.2em;
    border: none;
    font-size: 0.6em;
}

#message{
    color: white;
    text-align: center;
    font-size: 1em;
}

.popup.hide{
    display: none;
}